html,body{
	height: 100%;
	background-color: #218FB8;
}
.carousel-inner.item img{
      width: 70%;
      margin: auto;
}
.jumbotron{

}
#cover{
	background-color: #E6E6FA;
	color: black;
	display: flex;
    text-align: center;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#myBtn:hover {
    background-color: #4B0082; 
}

@media (max-width: 575.98px) { 
	#cover{
      background-color: #778899;
	}
 }

@media (min-width: 576px and max-width: 767.98px) {
   #cover{
      background-color: #A9A9A9;
	} 
 }

@media (min-width: 768px and max-width: 991.98px) {
	#cover{
      background-color: #C0C0C0;
	}
}

@media (min-width: 992px and max-width: 1199.98px) {
	#cover{
      background-color: #D3D3D3;
	}
}
 		
@media (min-width: 1200px) { 
	#cover{
      background-color: #87CEFA;
	}
 }
